*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-break: break-word;
}

:root{
    --primary-color: #4834d4;
	--success-color: #6ab04c;
	--warning-color: #f0932b;
	--danger-color: #eb4d4b;
    --font-color: #364d67;
    --background-color: #fff;
}

body{
    font-family: "Roboto", sans-serif;
    background-color: var(--background-color);
    color: var(--font-color);
    font-size: 16px;
}

.wrapper {
    flex: 1;
    padding: 10px;
    padding-top: 74px;
    background: #ffffff;
    transition: margin-left .5s;
    overflow-x: hidden;
}

.wrapper .content{
    border: 1px solid #dddddd;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.title {
    font-size: 16px;
    font-weight: 600;
    color: #888;
    margin-bottom: 16px;
}

.titleAfter::after{
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #dddddd;
    margin-top: 16px;
}

.control-btn, a.control-btn{
   display: inline-flex;
   text-align: center;
   justify-content: center;
   color: #fff;
   font-weight: bold;
   border-radius: 4px;
   transition: all ease 0.5s;
   padding: 8px 12px;
   cursor: pointer;
   line-height: 1.3;
   text-decoration: none;
   font-size: 14px;
}

.control-btn > i {
	font-size: 18px;
}

.control-btn > span {
	margin-left: 4px;
}

.control-btn.blue2{
	background-color: #3fc9d5;
    border: 2px solid #3fc9d5;
}

.control-btn.blue{
	background-color: #659be0;
    border: 2px solid #659be0;
}

.control-btn.green{
	background-color: #64dd17;
    border: 2px solid #64dd17;
}

.control-btn.green2{
	background-color: #00FF99;
    border: 2px solid #00FF99;
}

.control-btn.yellow{
	background-color: #FFCA2C;
    border: 2px solid #FFCA2C;
}

.control-btn.red{
	background-color: #DC3545;
    border: 2px solid #DC3545;
}

.control-btn.gray{
	background-color: #505050;
    border: 2px solid #505050;
}

.control-btn.orange{
	background-color: #FF9900;
    border: 2px solid #FF9900;
}

.control-btn:hover{
	background-color: #fff;
	color: #3b3b3b;
}

/* .control-btn.white{
	background-color: #fff;
    color: #364d67;
    border: 2px solid #364d67;
}

.control-btn.white:hover{
    background-color: #64dd17!important;
	color: #fff;
} */

.col-form-label{
    font-weight: bold;
}

a{
    text-decoration: none !important;
    color: var(--font-color);
}

a:hover {
    color: #57c115;
}

.avatar__content{
	width: 180px;
    height: 180px;
    overflow: hidden;
    position: relative;
    border-radius: 50%;
    border: 1px solid rgba(82, 161, 157, 0.719);
}

.avatar__content > span:hover{
    opacity: 1;
}

.upload__file-img{
    display: none;
}

.avatar__content-img{
    width: 100%;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.avatar__btn{
	background-color: #198754;
    border: 2px solid #198754;
    margin-top: 16px;
	display: flex;
    text-align: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;
    border-radius: 4px;
    transition: all ease 0.5s;
	padding: 8px 12px;
	cursor: pointer;
	line-height: 1.3;
}

.avatar__btn > i {
	font-size: 18px;
	margin-right: 8px;
}

.avatar__btn:hover{
	background-color: #fff;
	color: #3b3b3b;
}

.avatar__btn-clear{
	background-color: #909399;
    border: 2px solid #909399;
    margin-top: 8px;
	display: flex;
    text-align: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;
    border-radius: 4px;
    transition: all ease 0.5s;
	padding: 4px 8px;
	cursor: pointer;
	line-height: 1.3;
}

.avatar__btn-clear:hover{
	background-color: #fff;
	color: #3b3b3b;
}

.inputTextRight input{
    text-align: right;
}

.avatar-title {
	align-items: center;
	color: #fff;
	display: flex !important;
	height: 100%;
	justify-content: center;
	width: 100%;
}

.avatar-lg {
    height: 4.5rem;
    width: 4.5rem;
}
