/* .el-tabs__header{
    background-color: #fbfbfb;
} */
.el-tabs--card>.el-tabs__header .el-tabs__item.is-active {
    border-bottom: 2px solid #31a315;
    background-color: #e8f5f1;
}
.el-tabs__active-bar {
	background-color: #31a315;
}
.el-tabs__new-tab:hover {
	color: #31a315;
}
.el-tabs__item{
    /* font-size: 0.8rem; */
    /* font-weight: 600; */
    /* height: 46px; */
    /* line-height: 46px; */
    color: #909399;
    /* padding: 0 40px; */
}
.el-tabs--card>.el-tabs__header .el-tabs__item {
    border-left: none;
    border-right: none;
}
.el-tabs--card>.el-tabs__header .el-tabs__nav {
    border: none;
}
.el-tabs__item:focus.is-active.is-focus:not(:active) {
	-webkit-box-shadow: 0 0 2px 2px #31a315 inset;
	box-shadow: 0 0 2px 2px #31a315 inset;
}
.el-tabs__item.is-active {
	color: #31a315;
}
.el-tabs__item:hover {
	color: #31a315;
    /* background-color: #e8f5f1; */
}
.el-tabs--border-card > .el-tabs__header .el-tabs__item.is-active {
	color: #31a315;
}
.el-tabs--border-card > .el-tabs__header .el-tabs__item:not(.is-disabled):hover {
	color: #31a315;
}
.el-menu{
    min-height: 100%;
}
.el-menu-item span{
    font-size: 0.9rem;
    color: #909399;
}
.el-menu-item i{
    font-size: 1.4rem;
}
.el-menu-item.is-active {
    color: #31a315;
    text-decoration: none;
    border-left: 6px solid #31a315;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #f1f1f1;
}
.el-menu-item.is-active span{
    color: #31a315;
}
.el-menu-item:focus, .el-menu-item:hover {
    background-color: #f1f1f1;
}
.el-menu-item, .el-submenu__title {
    height: 58px;
    line-height: 58px;
}
.el-submenu__title span {
    font-size: 1rem;
    color: #909399;
}
.el-submenu__title i {
    font-size: 1.5rem;
}
.el-submenu .el-menu .el-menu-item {
    padding: 0 30px !important;
}
.el-submenu__icon-arrow.el-icon-arrow-down{
    font-size: 1rem;
}
.el-submenu.is-active .el-submenu__title{
    color: #31a315;
    text-decoration: none;
    border-left: 6px solid #31a315;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #f1f1f1;
}
.el-submenu.is-active .el-menu-item.is-active{
    color: #31a315;
    text-decoration: none;
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: inherit;
}
.el-submenu.is-active .el-submenu__title span{
    color: #31a315;
}
.el-submenu.is-active .el-submenu__title i{
    color: #31a315;
}
.el-input.is-active .el-input__inner, .el-input__inner:focus, .el-textarea__inner:focus {
    border-color: rgba(82, 161, 157, 0.719) !important;
    outline: 0;
}
.el-range-editor.is-active, .el-range-editor.is-active:hover {
    border-color: rgba(82, 161, 157, 0.719);
}
.el-date-editor.el-input, .el-date-editor.el-input__inner{
    width: 100%;
}
.el-select{
    width: 100%;
}
.el-radio.is-bordered.is-checked{
    border-color: rgba(82, 161, 157, 0.719);
}
.el-radio__input.is-checked .el-radio__inner{
    border-color: rgba(82, 161, 157, 0.719);
    background: rgba(82, 161, 157, 0.719);
}
.el-radio__input.is-checked+.el-radio__label {
    color: rgba(82, 161, 157, 0.719);
}
.el-dropdown-menu__item{
    font-size: 16px;
}
.el-dropdown-menu__item:focus, .el-dropdown-menu__item:not(.is-disabled):hover {
    background-color: #edffec;
    color: #03d72b;
}
.col-form-label{
    font-size: 14px;
    font-weight: 400;
}
.el-table__body-wrapper::-webkit-scrollbar-track{
    background-color: #fff;
}
.el-table__body-wrapper::-webkit-scrollbar{
    width: 4px;
    height: 4px;
	background-color: #F5F5F5;
}
.el-table__body-wrapper::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: rgb(174, 174, 174);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}
.el-table th.el-table__cell.is-leaf{
    background-color: #f1f7fd;
    font-weight: bold;
}
.el-select .el-input.is-focus .el-input__inner{
    border-color: rgba(82, 161, 157, 0.719);
}
.fc .fc-toolbar-title{
    font-weight: 500;
}
.fc .fc-datagrid-header .fc-datagrid-cell-frame .fc-datagrid-cell-main{
    font-weight: 500;
}
.fc .fc-timeline-slot-cushion{
    font-weight: 500;
}
.fc .fc-col-header-cell-cushion{
    font-weight: 500;
}

#custome-el-colapse .el-collapse-item__header {
    background: #339b19;
    color: #ffffff;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }
  
  #custome-el-colapse .el-collapse-item__wrap {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  
  #custome-el-colapse .el-collapse-item__content {
    padding-bottom: 0px;
  }
  
  #custome-el-colapse .el-collapse-item__arrow {
    font-size: 20px;
  }
  .el-checkbox__input.is-checked .el-checkbox__inner {
	background-color: #74bc20;
	border-color: #74bc20;
}

.el-checkbox__input.is-focus .el-checkbox__inner {
	border-color: #74bc20;
}
.el-checkbox__input.is-checked + .el-checkbox__label {
	color: #74bc20;
}
.el-checkbox__inner:hover {
	border-color: #74bc20;
}

.el-pager li.active {
    color: #74bc20;
    cursor: default;
}

.el-pagination.is-background .el-pager li:not(.disabled).active {
    background-color: #74bc20;
    color: #FFF;
}

.el-pagination.is-background .el-pager li:not(.disabled):hover {
    color: #74bc20;
}

.el-pagination__sizes .el-input .el-input__inner:hover {
    border-color: #74bc20;
}

.el-select-dropdown__item.selected {
    color: #74bc20;
    font-weight: 700;
}

.avatar-uploader .el-upload:hover {
    border-color: #74bc20 !important;
}

.el-table .el-table__cell{
    vertical-align: top;
}

.el-dialog__header {
    background: #27990b;
}

.el-dialog__title, .el-dialog__close{
    color: #fff !important;
}

.el-select-dropdown.is-multiple .el-select-dropdown__item.selected{
    color: #74bc20;
}
.el-button.elButtonCustom:active, .el-button.elButtonCustom:focus, .el-button.elButtonCustom:hover{
    color: #606266;
    border-color: rgba(82, 161, 157, 0.719) !important;
    background-color: #FFF;
    outline: 0;
}
.el-radio-button__orig-radio:checked+.el-radio-button__inner{
    color: #fff;
    border-color: #74bc20 !important;
    background-color: #74bc20;
    box-shadow: -1px 0 0 0 #74bc20;
}
.el-radio-button__inner:hover{
    color: #74bc20;
}